$color_1: hsl(0, 0%, 67%);

.countdown {
	text-align: center;
	div {
		display: inline-block;
		margin: 0 10px;
		span {
			display: block;
			font-size: 2rem;
		}
	}
}
.label {
	font-size: 1rem;
	color: $color_1;
}
@media (max-width: 48rem) {
	.countdown {
		div {
			span {
				font-size: 1.5rem;
			}
		}
	}
	.label {
		font-size: 0.875rem;
	}
}
@media (max-width: 30rem) {
	.countdown {
		div {
			margin: 0 0.25rem;
			span {
				font-size: 1.25rem;
			}
		}
	}
	.label {
		font-size: 0.75rem;
	}
}
